################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/VirtualBox VMs
/Videos
/source
/Searches
/Saved Games
/RFIDwrite.py
/pokerstove
/Pictures
/out.whl
/OneDrive
/ntuser.ini
/NTUSER.DAT{967831dc-8fa1-11ed-a10e-a430636399c0}.TMContainer00000000000000000002.regtrans-ms
/NTUSER.DAT{967831dc-8fa1-11ed-a10e-a430636399c0}.TMContainer00000000000000000001.regtrans-ms
/NTUSER.DAT{967831dc-8fa1-11ed-a10e-a430636399c0}.TM.blf
/ntuser.dat.LOG2
/ntuser.dat.LOG1
/NTUSER.DAT
/Music
/miniconda3
/Links
/lib
/Favorites
/Downloads
/Documents
/Desktop
/contadorpy
/contador.py
/contador
/Contacts
/AppData
/.vscode
/.VirtualBox
/.venv.venvScriptsactivate.bat
/.venv
/.ssh
/.nuget
/.minttyrc
/.matplotlib
/.lesshst
/.keras
/.idlerc
/.gitconfig
/.emulator_console_auth_token
/.dotnet
/.conda
/.bito
/.bash_profile
/.bash_history
/.bashrc
/.arduinoIDE
/.android
/-1.14-windows.xml
